.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .app-container {
    margin-top: 96px;
  }
}
.comments-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 550px;
}
@media screen and (min-width: 768px) {
  .comments-container {
    width: 80%;
    max-width: 1140px;
  }
}
.heading {
  font-size: 36px;
  color: #1e293b;
  font-family: 'Roboto';
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 24px;
  }
}
.comments-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .comments-inputs {
    flex-direction: row;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 1;
}

@media screen and (min-width: 768px) {
  .form {
    width: 30%;
    order: 0;
    min-width: 300px;
  }
}
.form-description {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .form-description {
    font-size: 17px;
  }
}
.name-input {
  font-size: 16px;
  font-family: 'Roboto';
  border: 1px solid #cbd2d9;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  margin-bottom: 12px;
  outline: none;
}
.comment-input {
  font-size: 16px;
  font-family: 'Roboto';
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}
.add-button {
  color: #ffffff;
  background-color: #0284c7;
  font-size: 15px;
  font-family: 'Roboto';
  border-radius: 5px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  margin-top: 16px;
  min-width: 60px;
  align-self: flex-start;
  cursor: pointer;
  outline: none;
}

.image {
  width: 280px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 380px;
    height: 300px;
  }
}

.line {
  border: 1px solid #dee0e3;
  width: 100%;
  margin-top: 16px;
}
.comments-heading {
  color: #475569;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 8px;
}
.comments-count {
  background-color: #0284c7;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  text-align: center;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 4px;
}
.comments-list {
  padding-left: 0px;
  margin-top: 0px;
}
